$fontAnybody: "Anybody";
$fontInter: "Inter";
$fontMulish: "Mulish";
$fontWorksans: "Work Sans";
$fontRoboto: "Roboto";
$primary-green: #20A049;
$second-green: #4fe27e;
$third-green: #E1FAE4;
$fourth-green: #013311;
$primary-coral-80: #CE6035;
$second-coral-80: #EA6B39;
$primary-blue: rgb(6, 6, 82);
$second-blue: rgb(17, 88, 240);
$third-blue: rgb(127, 166, 248);
$pink: #F5F4F6;
$dark-01: #b4b4b6;
$dark-02: #1D2129;
$dark-03:#9AA0A0;
$dark-04: #1C2434;
$dark-05:#DEE4EE;
$dark-06:#BBBBBB;
$dark-07:#323338;
$dark-08: #04150A;
$primary-dark: #242731;
$state-error:#FF3B3B;



