$fontAnybody: "Anybody";
$fontInter: "Inter";
$fontMulish: "Mulish";
$fontWorksans: "Work Sans";

$primary-green: #20A049;
$second-green: #4fe27e;
$primary-coral-80: #CE6035;
$primary-blue: rgb(6, 6, 82);
$second-blue: rgb(17, 88, 240);
$third-blue: rgb(127, 166, 248);
$dark-01: #b4b4b6;
$dark-02: #727272;

