@import "font";
@import "variable";
@import "mixin";

img {
    width: 100%;
    height: auto;
}

body {
    box-sizing: border-box;
    display: flex;
}

//CSS sidebar
nav {
    width: 300px;
    background-color: $primary-green;
    display: block;
    min-height: 1000px;
    position: fixed;

    .logo {
        background-color: $fourth-green;
        padding: 23px 29px;

        img {
            width: 108px;
            height: 68px;
        }
    }

    .menu-title {
        font-family: $fontRoboto;
        color: $third-green;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-top: 24px;
        padding-left: 29px;
        margin-bottom: 18px;
    }

    .dashboard,
    .report {
        padding: 15px 24px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #248142;
        width: 80%;
        margin: auto;
        border-radius: 5px;

        img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-bottom: 3px;
        }

        i {
            font-size: 18px;
            color: #fff;
        }

        span {
            font-family: $fontRoboto;
            font-size: 15px;
            line-height: 24px;
            font-weight: 500;
            color: #fff;
        }

        &:hover {
            background-color: #248142;
            cursor: pointer;
        }
    }

    .dashboard-left-content {

        .dashboard-left-content-ppj,
        .dashboard-left-content-energy,
        .dashboard-left-content-ghgemission,
        .dashboard-left-content-projectportfolio {
            padding: 8px 69px;
            cursor: pointer;
            width: 80%;
            margin: auto;
            border-radius: 5px;
            margin-top: 5px;

            span {
                color: #fff;
                font-family: $fontRoboto;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                margin-left: -20px;
            }

            &:hover {
                background-color: #248142;
            }
        }
    }

    .report-left-content {

        .report-left-content-energy,
        .report-left-content-ghgemission {
            padding: 8px 69px;
            cursor: pointer;
            width: 80%;
            margin: auto;
            border-radius: 5px;
            margin-top: 5px;

            span {
                color: #fff;
                font-family: $fontRoboto;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                margin-left: -20px;

            }

            &:hover {
                background-color: #248142;
            }
        }
    }

    .nav-footer {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 300px;

        img {
            width: 100%;
            height: auto;
        }
    }
}


//CSS right content
#content {
    width: calc(100% - 300px);
    background-color: white;
    position: relative;
    left: 300px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 32px;

        .top-content-left,
        .top-content-right {
            img {
                width: 22px;
                height: 22px;
                cursor: pointer;
                margin-right: 39px;
            }

            .search {
                display: inline-block;
                background-color: $pink;
                padding: 8px 15px;
                width: 300px;

                img {
                    margin-right: 10px;
                }

                input {
                    outline: none;
                    border: none;
                    border-left: 2px solid $primary-green;
                    padding-left: 5px;
                    background-color: $pink;
                }
            }
        }
    }

    #content-dashboard {
        padding: 10px;
        border-radius: 10px;

        #ppj-tab {
            font-family: $fontRoboto;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: black;
        }

        #overview-tab,
        #energy-tab,
        #ghgemission-tab,
        #projectportfolio-tab {
            font-family: $fontRoboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: $dark-03;
        }

        #overview {
            .ppj-top {
                display: flex;
                align-items: center;
                border-bottom: 1px solid lightgray;
                margin-top: 10px;
                margin-bottom: 20px;
                padding: 5px;

                img {
                    width: 70px;
                    height: 50px;
                    margin-right: 24px;

                }

                h1 {
                    color: $primary-green;
                    font-family: $fontAnybody;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 33px;
                    margin: 0;
                }
            }

            .ppj-point {
                display: grid;
                align-items: center;
                justify-content: space-between;
                grid-template-columns: auto auto auto;
                padding: 10px 30px;
                column-gap: 10px;
                row-gap: 25px;
                margin-top: 18px;

                .ppj-point-item {
                    flex: 1;
                    display: flex;
                    column-gap: 22px;
                    padding: 16px 14px;

                    .ppj-point-item-left {
                        img {
                            width: 82px;
                            height: 77px;
                        }
                    }

                    .ppj-point-item-right {

                        h1 {
                            color: $primary-green;
                            text-align: center;
                            font-size: 32px;
                            font-weight: 800;
                            font-family: $fontRoboto;
                            line-height: 37px;
                            margin-top: 15px;
                        }

                        img {
                            width: 14px;
                            height: 14px;
                            margin-left: 80px;
                            margin-bottom: 20px;
                        }

                        .title {
                            color: $dark-07;
                            font-size: 18px;
                            text-align: center;
                            font-weight: 800;
                            font-family: $fontRoboto;
                            line-height: 18px;
                        }

                        .unit {
                            color: $dark-06;
                            margin-left: 5px;
                            font-weight: 800;
                            font-family: $fontRoboto;
                            font-size: 16px;
                        }

                        .ppj-point-item-right-bottom {
                            width: 200px;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                        }

                    }
                }
            }

            .ppj-emission-scope {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 18px;
                padding: 0 30px;

                .ppj-emission-scope-item {
                    display: flex;
                    padding: 18px;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 45px;

                    .ppj-emission-scope-item-left {
                        .scope {
                            font-family: $fontRoboto;
                            font-weight: 700;
                            font-size: 16px;
                            color: $dark-03;
                            line-height: 18px;
                            margin: 0;
                            margin-bottom: 8px;
                        }

                        .co2emission {
                            font-family: $fontRoboto;
                            font-weight: 700;
                            font-size: 16px;
                            color: $dark-07;
                            line-height: 18px;
                            margin: 0;
                            margin-bottom: 10px;
                        }

                        .ppj-emission-scope-item-left-value {
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            column-gap: 40px;

                            .value {
                                font-family: $fontRoboto;
                                font-weight: 800;
                                font-size: 32px;
                                color: $primary-green;
                                line-height: 38px;
                            }

                            .unit {
                                font-family: $fontInter;
                                font-weight: 600;
                                font-size: 16px;
                                color: $dark-03;
                            }
                        }
                    }

                    .ppj-emission-scope-item-right {
                        img {
                            width: 57px;
                            height: 57px;
                            margin-top: -30px;
                        }
                    }
                }
            }

            .ppj-kpi {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                padding: 0 40px;

                .ppj-kpi-item {
                    padding: 10px;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-size: 18px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                        font-family: $fontRoboto;
                        line-height: 28px;
                        color: $dark-02;
                    }
                }
            }

            .ppj-emission-value {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-top: 40px;
                padding: 0 40px;

                .ppj-emission-value-item {
                    padding: 10px;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .top {
                        display: flex;
                        justify-content: center;
                        column-gap: 10px;

                        .title {
                            font-family: $fontInter;
                            color: black;
                            font-size: 17px;
                            font-weight: 700;
                        }

                        .unit {
                            font-family: $fontInter;
                            color: $dark-03;
                            font-size: 17px;
                            font-weight: 700;
                        }
                    }

                    .details {
                        margin-top: 20px;

                        .details-title {
                            img {
                                width: 12px;
                                height: 12px;
                                margin-right: 10px;
                                cursor: pointer;
                            }

                            span {
                                font-family: $fontRoboto;
                                font-weight: 400;
                                line-height: 28px;
                                font-size: 15px;
                                color: black;
                            }
                        }

                        .details-content {

                            table {

                                margin-top: 18px;

                                tr {
                                    border-bottom: 1px solid lightgray;

                                    .title,
                                    .value,
                                    .percent {
                                        font-family: Roboto;
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 24px;
                                        color: $dark-07;
                                    }

                                    .value {
                                        padding: 0 30px;
                                    }
                                }
                            }
                        }
                    }


                }
            }

            .ppj-totalenergyconsumption {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 70px;
                padding: 0 40px;

                .ppj-totalenergyconsumption-item {
                    padding: 10px;
                    width: 50%;

                    .top {
                        display: flex;
                        justify-content: center;
                        column-gap: 10px;

                        .title {
                            font-family: $fontInter;
                            color: black;
                            font-size: 17px;
                            font-weight: 700;
                        }

                        .unit {
                            font-family: $fontInter;
                            color: $dark-03;
                            font-size: 17px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        #energy {
            .dashboard-energy-top {
                display: flex;
                align-items: center;
                border-bottom: 1px solid lightgray;
                margin-top: 10px;
                margin-bottom: 20px;
                padding: 5px;

                img {
                    width: 70px;
                    height: 50px;
                    margin-right: 24px;

                }

                h1 {
                    color: $primary-green;
                    font-family: $fontAnybody;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 33px;
                    margin: 0;
                }
            }

            .dashboard-energy-content {
                padding: 20px;

                .dashboard-energy-content-electricity {
                    .dashboard-energy-content-electricity-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f2f2f3;
                        padding: 7px 10px;

                        .dashboard-energy-content-electricity-title-left {
                            display: flex;
                            align-items: center;

                            img {
                                width: 40px;
                                height: 40px;
                                margin-right: 16px;
                            }

                            h2 {
                                font-family: $fontRoboto;
                                font-weight: 800;
                                font-size: 24px;
                                color: $dark-02;
                                display: inline-block;
                                margin: 0;

                            }
                        }

                        .dashboard-energy-content-electricity-title-right {
                            i {
                                font-size: 22px;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }

                    .dashboard-energy-content-electricity-content {
                        display: flex;
                        column-gap: 40px;
                        margin-top: 30px;

                        .dashboard-energy-content-electricity-content-left {
                            width: 50%;

                            .top {

                                display: flex;
                                justify-content: center;

                                .title {
                                    font-family: $fontRoboto;
                                    font-weight: 700;
                                    font-size: 18px;
                                    color: $dark-02;

                                }
                            }
                        }

                        .dashboard-energy-content-electricity-content-right {
                            width: 50%;

                            table {
                                width: 95%;

                                tr {

                                    th {
                                        background-color: $primary-green;
                                        font-family: $fontInter;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #fff;
                                        padding: 10px 20px;

                                    }

                                    td {
                                        font-family: $fontRoboto;
                                        font-size: 15px;
                                        font-weight: 500;
                                        text-align: right;
                                        border: 2px dashed $primary-green;
                                        padding: 0 10px;
                                    }
                                }
                            }

                            .dashboard-energy-content-electricity-content-right-bottom {
                                .top {

                                    display: flex;
                                    justify-content: center;

                                    .title {
                                        font-family: $fontRoboto;
                                        font-weight: 700;
                                        font-size: 18px;
                                        color: $dark-02;

                                    }
                                }
                            }
                        }
                    }
                }

                .dashboard-energy-content-diesel {
                    margin-top: 50px;

                    .dashboard-energy-content-diesel-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f2f2f3;
                        padding: 7px 10px;

                        .dashboard-energy-content-diesel-title-left {
                            display: flex;
                            align-items: center;

                            img {
                                width: 40px;
                                height: 40px;
                                margin-right: 16px;
                            }

                            h2 {
                                font-family: $fontRoboto;
                                font-weight: 800;
                                font-size: 24px;
                                color: $dark-02;
                                display: inline-block;
                                margin: 0;

                            }
                        }

                        .dashboard-energy-content-diesel-title-right {
                            i {
                                font-size: 22px;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }

                    .dashboard-energy-content-diesel-content {
                        display: flex;
                        column-gap: 40px;
                        margin-top: 30px;

                        .dashboard-energy-content-diesel-content-left {
                            width: 50%;

                            .top {

                                display: flex;
                                justify-content: center;

                                .title {
                                    font-family: $fontRoboto;
                                    font-weight: 700;
                                    font-size: 18px;
                                    color: $dark-02;

                                }
                            }
                        }

                        .dashboard-energy-content-diesel-content-right {
                            width: 50%;

                            table {
                                width: 95%;

                                tr {

                                    th {
                                        background-color: $primary-green;
                                        font-family: $fontInter;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #fff;
                                        padding: 10px 20px;

                                    }

                                    td {
                                        font-family: $fontRoboto;
                                        font-size: 15px;
                                        font-weight: 500;
                                        text-align: right;
                                        border: 2px dashed $primary-green;
                                        padding: 0 10px;
                                    }
                                }
                            }

                            .dashboard-energy-content-diesel-content-right-bottom {
                                .top {

                                    display: flex;
                                    justify-content: center;

                                    .title {
                                        font-family: $fontRoboto;
                                        font-weight: 700;
                                        font-size: 18px;
                                        color: $dark-02;

                                    }
                                }
                            }
                        }
                    }
                }

                .dashboard-energy-content-petrol {
                    margin-top: 50px;

                    .dashboard-energy-content-petrol-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f2f2f3;
                        padding: 7px 10px;

                        .dashboard-energy-content-petrol-title-left {
                            display: flex;
                            align-items: center;

                            img {
                                width: 40px;
                                height: 40px;
                                margin-right: 16px;
                            }

                            h2 {
                                font-family: $fontRoboto;
                                font-weight: 800;
                                font-size: 24px;
                                color: $dark-02;
                                display: inline-block;
                                margin: 0;

                            }
                        }

                        .dashboard-energy-content-petrol-title-right {
                            i {
                                font-size: 22px;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }

                    .dashboard-energy-content-petrol-content {
                        display: flex;
                        column-gap: 40px;
                        margin-top: 30px;

                        .dashboard-energy-content-petrol-content-left {
                            width: 50%;

                            .top {

                                display: flex;
                                justify-content: center;

                                .title {
                                    font-family: $fontRoboto;
                                    font-weight: 700;
                                    font-size: 18px;
                                    color: $dark-02;

                                }
                            }
                        }

                        .dashboard-energy-content-petrol-content-right {
                            width: 50%;

                            table {
                                width: 95%;

                                tr {

                                    th {
                                        background-color: $primary-green;
                                        font-family: $fontInter;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #fff;
                                        padding: 10px 20px;

                                    }

                                    td {
                                        font-family: $fontRoboto;
                                        font-size: 15px;
                                        font-weight: 500;
                                        text-align: right;
                                        border: 2px dashed $primary-green;
                                        padding: 0 10px;
                                    }
                                }
                            }

                            .dashboard-energy-content-petrol-content-right-bottom {
                                .top {

                                    display: flex;
                                    justify-content: center;

                                    .title {
                                        font-family: $fontRoboto;
                                        font-weight: 700;
                                        font-size: 18px;
                                        color: $dark-02;

                                    }
                                }
                            }
                        }
                    }
                }

                .dashboard-energy-content-gas {
                    margin-top: 50px;

                    .dashboard-energy-content-gas-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f2f2f3;
                        padding: 7px 10px;

                        .dashboard-energy-content-gas-title-left {
                            display: flex;
                            align-items: center;

                            img {
                                width: 40px;
                                height: 40px;
                                margin-right: 16px;
                            }

                            h2 {
                                font-family: $fontRoboto;
                                font-weight: 800;
                                font-size: 24px;
                                color: $dark-02;
                                display: inline-block;
                                margin: 0;

                            }
                        }

                        .dashboard-energy-content-gas-title-right {
                            i {
                                font-size: 22px;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }

                    .dashboard-energy-content-gas-content {
                        display: flex;
                        column-gap: 40px;
                        margin-top: 30px;

                        .dashboard-energy-content-gas-content-left {
                            width: 50%;

                            .top {

                                display: flex;
                                justify-content: center;

                                .title {
                                    font-family: $fontRoboto;
                                    font-weight: 700;
                                    font-size: 18px;
                                    color: $dark-02;

                                }
                            }
                        }

                        .dashboard-energy-content-gas-content-right {
                            width: 50%;

                            table {
                                width: 95%;

                                tr {

                                    th {
                                        background-color: $primary-green;
                                        font-family: $fontInter;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #fff;
                                        padding: 10px 20px;

                                    }

                                    td {
                                        font-family: $fontRoboto;
                                        font-size: 15px;
                                        font-weight: 500;
                                        text-align: right;
                                        border: 2px dashed $primary-green;
                                        padding: 0 10px;
                                    }
                                }
                            }

                            .dashboard-energy-content-gas-content-right-bottom {
                                .top {

                                    display: flex;
                                    justify-content: center;

                                    .title {
                                        font-family: $fontRoboto;
                                        font-weight: 700;
                                        font-size: 18px;
                                        color: $dark-02;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #content-report-energy {
        padding: 0 25px;
        padding-bottom: 50px;

        .content-report-energy-search {
            box-shadow: 0px 0px 6px 6px #eeeeee;

            .content-report-energy-search-top {
                width: 100%;
                height: 50px;
                background-color: $primary-green;
                display: flex;
                align-items: center;
                padding-left: 24px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                p {
                    color: #fff;
                    font-family: $fontRoboto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    margin: 0;
                }
            }

            .content-report-energy-search-bottom {
                width: 100%;
                padding: 20px;

                .content-report-energy-search-bottom-form {
                    display: flex;
                    column-gap: 60px;
                    align-items: flex-end;

                    .content-report-energy-search-bottom-form-item {
                        p {
                            font-family: $fontRoboto;
                            font-weight: 700;
                            font-size: 16px;
                            color: black;
                            margin: 0;
                            margin-top: 10px;
                        }

                        select {
                            width: 150px;
                            font-family: $fontRoboto;
                            font-weight: 400;
                            font-size: 16px;
                            padding: 6px;
                            border-radius: 5px;
                            border: none;
                            outline: 1px solid gray;
                            margin-top: 10px;
                        }
                    }

                    button {
                        height: 42px;
                        width: 136px;
                        background-color: $fourth-blue;
                        border-radius: 5px;
                        border: none;
                        color: #fff;
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 500;

                        img {
                            width: 21px;
                            height: 21px;
                            margin-left: 9px;
                        }
                    }
                }

                .content-report-energy-search-bottom-import {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 42px;

                    .content-report-energy-search-bottom-import-left {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 500;
                        background-color: $second-coral-80;
                        border-radius: 5px;
                        height: 36px;
                        width: 170px;
                        color: #fff;
                        cursor: pointer;

                        img {
                            width: 22px;
                            height: 22px;
                            margin-right: 8px;
                        }
                    }

                    .content-report-energy-search-bottom-import-right {
                        display: flex;
                        align-items: center;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            background-color: $fourth-blue;
                            border-radius: 5px;
                            height: 36px;
                            width: 126px;
                            color: #fff;
                            cursor: pointer;

                            img {
                                width: 22px;
                                height: 22px;
                                margin-left: 8px;
                            }

                        }

                        img {
                            width: 22px;
                            height: 22px;
                            margin-left: 24px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .content-report-energy-result {
            margin-top: 56px;

            .content-report-energy-result-title {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                color: black;
                margin-left: 24px;
            }

            .content-report-energy-result-table {
                margin-top: 16px;

                table {
                    width: 100%;

                    tr {

                        th,
                        td {
                            border: 1px solid lightgray;
                            padding: 16px;
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 700;
                            color: black;
                            text-align: center;

                            div {
                                height: 32px;
                                width: 82px;
                                font-family: Roboto;
                                font-size: 12px;
                                font-weight: 700;
                                color: $state-success;
                                background-color: #D6FFC8;
                                margin: auto;
                                border-radius: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }

            .content-report-energy-result-table-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .content-report-energy-result-table-info-left {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 600;
                    color: $dark-09;

                }

                .content-report-energy-result-table-info-right {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    p {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 500;
                        color: $dark-09;
                        margin: 0;

                    }

                    img {
                        width: 10px;
                        height: 15px;
                        cursor: pointer;
                    }
                }
            }

            .content-report-energy-result-energy-ghgemission-table {
                display: flex;
                margin-top: 80px;
                column-gap: 20px;

                .content-report-energy-result-energy-ghgemission-table-left {
                    width: 50%;

                    #energy-ghgemission-tab {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;

                        #energy-tab,
                        #ghgemission-tab {
                            padding: 10px 50px;
                            background-color: #fff;
                            color: gray;
                            font-weight: 600;

                         
                        }

                    }

                    .hihi {
                        color: $primary-green;
                        border-bottom: 3px solid $primary-green;
                    }

                    #energy-ghgemission-tabcontent {
                        table {
                            width: 100%;

                            tr {
                                th {
                                    font-family: Roboto;
                                    font-size: 15px;
                                    font-weight: 700;
                                    color: black;
                                    padding: 8px 16px;
                                    border: 1px solid lightgray;

                                    &:first-of-type {
                                        width: 9%;
                                    }

                                    &:nth-of-type(2) {
                                        width: 55%;
                                    }

                                    &:nth-of-type(3) {
                                        width: 15%;
                                    }

                                }
                            }
                        }

                        .faq-content-menudropdown {
                            width: 100%;

                            .faq-content-menudropdown-item {
                                display: flex;
                                width: 100%;
                                align-items: center;
                                justify-content: space-between;
                                background-color: $third-coral-80;
                                height: 42px;
                                padding: 9px 16px;
                                border: 1px solid lightgray;

                                h3 {
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: $second-coral-80;
                                    margin: 0;
                                }

                                i {
                                    color: $second-coral-80;
                                }
                            }

                            .faq-content-menudropdown-item-show {
                                table {
                                    tr {
                                        td {
                                            font-family: Roboto;
                                            font-size: 14px;
                                            font-weight: 500;
                                            color: black;
                                            padding: 8px 16px;
                                            border: 1px solid lightgray;

                                            div {
                                                border-radius: 26px;
                                                background-color: $state-success;
                                                color: #fff;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            }

                                            &:first-of-type {
                                                width: 9%;
                                            }

                                            &:nth-of-type(2) {
                                                width: 55%;
                                            }

                                            &:nth-of-type(3) {
                                                width: 15%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .content-report-energy-result-energy-ghgemission-table-right {
                    width: 50%;

                    table {
                        width: 100%;

                        tr {
                            th {
                                background-color: #17b16e;
                                height: 88px;
                                color: #fff;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 600;
                                padding: 15px;
                                border: 1px solid #fff;
                                text-align: center;

                                div {
                                    font-size: 12px;
                                    background-color: #248142;
                                    padding: 5px;
                                    border-radius: 10px;
                                    width: 95px;
                                    margin: auto;
                                }
                            }

                            td {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 600;
                                color: black;
                                padding: 22px;
                                text-align: center;
                                border: 1px solid lightgray;
                            }
                        }
                    }
                }
            }
        }
    }

}