@import "font";
@import "variable";
@import "mixin";

img{
    width: 100%;
    height: auto;
}
body{
    box-sizing: border-box;
    display: flex;
}

//CSS sidebar
nav{
    width: 300px;
    background-color: $dark-04;
    display: block;
    min-height: 1000px;
    padding: 23px 29px;
    .logo{
        img{
            width: 108px;
            height: 68px;
        }
        p{
          font-family: $fontRoboto;  
          color: $dark-06;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin-top: 24px;
        }
    }

    .dashboard,.report{
        padding:15px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 16px;
            height: 16px;
            margin-right: 5px;
            margin-bottom: 3px;
        }
        i{
           font-size: 18px;
           color: $dark-05; 
        }
        span{
            font-family: $fontRoboto;
            font-size: 15px;
            line-height: 24px;
            font-weight: 500;
            color: $dark-05;
        }
        &:hover{
            background-color: $dark-07;
            cursor: pointer;
        }
    }
    .dashboard-left-content{
        .dashboard-left-content-ppj,.dashboard-left-content-energy,.dashboard-left-content-garbage{
            padding: 8px 40px;
            cursor: pointer;
            span{
                color: $dark-06;
                font-family: $fontRoboto;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
            }
            &:hover{
                background-color: $dark-07;
            }
        }
    }
    .report-left-content{
        .report-left-content-energy,.report-left-content-gas{
            padding: 8px 40px;
            cursor: pointer;
            span{
                color: $dark-06;
                font-family: $fontRoboto;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
            }
            &:hover{
                background-color: $dark-07;
            }
        }
    }
  
}


//CSS right content
#content{
    width: calc(100% - 300px);
    background-color: white;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 32px;
        .top-content-left,.top-content-right{
            img{
                width: 22px;
                height: 22px;
                cursor: pointer;
                margin-right: 39px;
            }
            .search{
                display: inline-block;
                background-color: $pink;
                padding: 8px 15px;
                width: 300px;
                img{
                    margin-right: 10px;
                }
                input{
                    outline: none;
                    border: none;
                    border-left: 2px solid $primary-green;
                    padding-left: 5px;
                    background-color: $pink;
                }
            }
        }
    }
    #content-dashboard{
        padding: 10px;
        border-top: 2px solid $primary-blue;
        border-radius: 10px;
        #ppj-tab{
            font-family: $fontRoboto;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: black;
        }
        #overview-tab,#energy-tab{
            font-family: $fontRoboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: $dark-03;
        }
        #overview{
            .ppj-top{
                display: flex;
                align-items: center;
                border-bottom: 8px solid $primary-blue;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 5px;
                img{
                    width: 53px;
                    height: 34px;
                    margin-right: 24px;
                }
                h1{
                    color: $primary-blue;
                    font-family: $fontRoboto;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 33px;
                }
            }
            .ppj-point{
                display: flex;
                align-items: center;
                padding: 10px;
                column-gap: 10px;
                margin-top: 18px;
                .ppj-point-item{
                    flex: 1;
                    display: flex;
                    column-gap: 10px;
                    border-right: 2px solid $second-blue;
                    .ppj-point-item-left{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .ppj-point-item-right{
                      
                        h1{
                            color: $second-blue;
                            text-align: center;
                            font-size: 30px;
                            font-weight: 800;
                            font-family: $fontRoboto;
                            line-height: 37px;
                        }
                        h2{
                            color: $primary-blue;
                            font-size: 16px;
                            text-align: center;
                            font-weight: 800;
                            font-family: $fontRoboto;
                            line-height: 18px;
                        }
                        p{
                            color: $second-blue;
                            text-align: center;
                        }
                    }
                }
            }
            .ppj-emission-scope{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 18px;
                .ppj-emission-scope-item{
                    display: flex;
                    column-gap: 5px;
                    .ppj-emission-scope-item-left{
                        width: 15px;
                        background-color: $primary-green;
                    }
                    .ppj-emission-scope-item-right{
                        background-color: $second-green;
                        padding: 5px 120px;
                        h2{
                            color: black;
                            font-size: 16px;
                            text-align: center;
                            margin: 0;
                            font-weight: 700;
                            font-family: $fontRoboto;
                            line-height: 18px;
                        }
                        h1{
                            display: inline-block;
                            margin: 0;
                            margin-right: 20px;
                            color: $primary-blue;
                            margin-left: 60px;
                            padding: 0;
                            font-size: 20px;
                            font-family: $fontRoboto;
                            font-weight: 800;
                        }
                        span{
                            color: $second-blue;
                        }
                    }
                }
            }
            .ppj-kpi{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 60px;
                .ppj-kpi-item{
                    padding: 10px;
                    border: 2px solid $primary-blue;
                    width: 33%;
                    h2{
                        font-size: 18px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                        font-family: $fontRoboto;
                    }
                }   
            }
            .ppj-emission-value{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 60px;
                .ppj-emission-value-item{
                    padding: 10px;
                    border: 2px solid $primary-blue;
                    width: 33%;
                    height: 360px;
                    h2{
                        font-size: 18px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                        font-family: $fontRoboto;
                    }
                }
            }
            .ppj-totalenergyconsumption{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 60px;
                .ppj-totalenergyconsumption-item{
                    padding: 10px;
                    border: 2px solid $primary-blue;
                    width: 50%;
                    h2{
                        font-size: 18px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                        font-family: $fontRoboto;
                    }
                }
            }
        }
    }
}

