@import "font";
@import "variable";
@import "mixin";

img{
    width: 100%;
    height: auto;
}
body{
    box-sizing: border-box;
    display: flex;
}

//CSS sidebar
nav{
    width: 300px;
    background-color: rgb(46, 45, 45);
    display: block;
    min-height: 1000px;
    .account{
        width: 100%;
        display: flex;
        padding: 10px;
        padding-left: 30px;
        align-items: center;
        a{
           color: $dark-01;
           text-decoration: none;
           font-size: 18px;
        }
    }
    hr{
        height: 3px;
        background-color: white;
        margin: 0;
    }
    .dashboard,.dashboardiot,.dashboard-report{
        padding:10px;
        padding-left: 40px;
        i{
           font-size: 25px;
           color: $dark-01; 
           margin-right: 25px;
        }
        span{
            color: $dark-01;
            font-size: 18px;
        }
        &:hover{
            background-color: rgb(94, 94, 94);
            cursor: pointer;
        }
    }
    .dashboard-report{
        padding: 10px;
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dashboard-report-left-content{
        
        .dashboard-report-left-content-energy,.dashboard-report-left-content-gas{
            padding:10px;
            color: $dark-01;
            padding-left: 60px;
            cursor: pointer;
            &:hover{
                background-color: rgb(94, 94, 94);
            }
           i{
            margin-right: 10px;
           }
        }
    }
}


//CSS right content
#content{
    width: calc(100% - 300px);
    background-color: white;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        i{
            font-size: 20px;
            margin-right: 25px;
            color: $dark-02;
        }
        .top-content-left{
            a{
                color: $dark-02;
                text-decoration: none;
                margin-right: 25px;
            }
            i{
                cursor: pointer;
            }
        }
    }
    #content-dashboard{
        padding: 10px;
        border-top: 2px solid $primary-blue;
        border-radius: 10px;
        #ppj{
            .ppj-top{
                display: flex;
                align-items: center;
                border-bottom: 10px solid $primary-blue;
                img{
                    width: 80px;
                    height: 80px;
                    margin-right: 50px;
                
                }
                h1{
                    color: $primary-blue;
                }
            }
            .ppj-point{
                display: flex;
                align-items: center;
                padding: 10px;
                column-gap: 10px;
                .ppj-point-item{
                    flex: 1;
                    display: flex;
                    column-gap: 10px;
                    .ppj-point-item-left{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .ppj-point-item-right{
                        h1{
                            color: $second-blue;
                            text-align: center;
                            font-size: 30px;
                            font-weight: 500;
                        }
                        h2{
                            color: $primary-blue;
                            font-size: 20px;
                            text-align: center;
                            font-weight: 700;
                        }
                        p{
                            color: $second-blue;
                            text-align: center;
                        }
                    }
                }
            }
            .ppj-emission-scope{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .ppj-emission-scope-item{
                    display: flex;
                    column-gap: 5px;
                    .ppj-emission-scope-item-left{
                        width: 15px;
                        background-color: $primary-green;
                    }
                    .ppj-emission-scope-item-right{
                        background-color: $second-green;
                        padding: 5px 80px;
                        h2{
                            color: black;
                            font-size: 18px;
                            text-align: center;
                            margin: 0;
                            font-weight: 700;
                        }
                        h1{
                            display: inline-block;
                            margin: 0;
                            margin-right: 20px;
                            color: $primary-blue;
                            margin-left: 60px;
                            padding: 0;
                            font-size: 28px;
                        }
                        span{
                            color: $second-blue;
                        }
                    }
                }
            }
            .ppj-kpi{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 50px;
                .ppj-kpi-item{
                    padding: 10px;
                    border: 2px solid $primary-blue;
                    width: 33%;
                    h2{
                        font-size: 22px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                    }
                }   
            }
            .ppj-emission-value{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 50px;
                .ppj-emission-value-item{
                    padding: 10px;
                    border: 2px solid $primary-blue;
                    width: 33%;
                    height: 360px;
                    h2{
                        font-size: 22px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                    }
                }
            }
            .ppj-totalenergyconsumption{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 50px;
                .ppj-totalenergyconsumption-item{
                    padding: 10px;
                    border: 2px solid $primary-blue;
                    width: 50%;
                    h2{
                        font-size: 22px;
                        color: $primary-blue;
                        text-align: center;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

