img {
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  display: flex;
}

nav {
  width: 300px;
  background-color: #20A049;
  display: block;
  min-height: 1000px;
}
nav .logo {
  background-color: #013311;
  padding: 23px 29px;
}
nav .logo img {
  width: 108px;
  height: 68px;
}
nav .menu-title {
  font-family: "Roboto";
  color: #E1FAE4;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 24px;
  padding-left: 29px;
  margin-bottom: 18px;
}
nav .dashboard,
nav .report {
  padding: 15px 24px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #248142;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}
nav .dashboard img,
nav .report img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}
nav .dashboard i,
nav .report i {
  font-size: 18px;
  color: #fff;
}
nav .dashboard span,
nav .report span {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}
nav .dashboard:hover,
nav .report:hover {
  background-color: #248142;
  cursor: pointer;
}
nav .dashboard-left-content .dashboard-left-content-ppj,
nav .dashboard-left-content .dashboard-left-content-energy,
nav .dashboard-left-content .dashboard-left-content-ghgemission,
nav .dashboard-left-content .dashboard-left-content-projectportfolio {
  padding: 8px 69px;
  cursor: pointer;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
}
nav .dashboard-left-content .dashboard-left-content-ppj span,
nav .dashboard-left-content .dashboard-left-content-energy span,
nav .dashboard-left-content .dashboard-left-content-ghgemission span,
nav .dashboard-left-content .dashboard-left-content-projectportfolio span {
  color: #fff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-left: -20px;
}
nav .dashboard-left-content .dashboard-left-content-ppj:hover,
nav .dashboard-left-content .dashboard-left-content-energy:hover,
nav .dashboard-left-content .dashboard-left-content-ghgemission:hover,
nav .dashboard-left-content .dashboard-left-content-projectportfolio:hover {
  background-color: #248142;
}
nav .report-left-content .report-left-content-energy,
nav .report-left-content .report-left-content-ghgemission {
  padding: 8px 69px;
  cursor: pointer;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
}
nav .report-left-content .report-left-content-energy span,
nav .report-left-content .report-left-content-ghgemission span {
  color: #fff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-left: -20px;
}
nav .report-left-content .report-left-content-energy:hover,
nav .report-left-content .report-left-content-ghgemission:hover {
  background-color: #248142;
}
nav .nav-footer {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 300px;
}
nav .nav-footer img {
  width: 100%;
  height: auto;
}

#content {
  width: calc(100% - 300px);
  background-color: white;
}
#content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}
#content .top .top-content-left img,
#content .top .top-content-right img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 39px;
}
#content .top .top-content-left .search,
#content .top .top-content-right .search {
  display: inline-block;
  background-color: #F5F4F6;
  padding: 8px 15px;
  width: 300px;
}
#content .top .top-content-left .search img,
#content .top .top-content-right .search img {
  margin-right: 10px;
}
#content .top .top-content-left .search input,
#content .top .top-content-right .search input {
  outline: none;
  border: none;
  border-left: 2px solid #20A049;
  padding-left: 5px;
  background-color: #F5F4F6;
}
#content #content-dashboard {
  padding: 10px;
  border-radius: 10px;
}
#content #content-dashboard #ppj-tab {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}
#content #content-dashboard #overview-tab,
#content #content-dashboard #energy-tab,
#content #content-dashboard #ghgemission-tab,
#content #content-dashboard #projectportfolio-tab {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #9AA0A0;
}
#content #content-dashboard #overview .ppj-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}
#content #content-dashboard #overview .ppj-top img {
  width: 70px;
  height: 50px;
  margin-right: 24px;
}
#content #content-dashboard #overview .ppj-top h1 {
  color: #20A049;
  font-family: "Anybody";
  font-weight: 900;
  font-size: 32px;
  line-height: 33px;
  margin: 0;
}
#content #content-dashboard #overview .ppj-point {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  padding: 10px 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 25px;
  margin-top: 18px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item {
  flex: 1;
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  padding: 16px 14px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-left img {
  width: 82px;
  height: 77px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right h1 {
  color: #20A049;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  font-family: "Roboto";
  line-height: 37px;
  margin-top: 15px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right img {
  width: 14px;
  height: 14px;
  margin-left: 80px;
  margin-bottom: 20px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right .title {
  color: #323338;
  font-size: 18px;
  text-align: center;
  font-weight: 800;
  font-family: "Roboto";
  line-height: 18px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right .unit {
  color: #BBBBBB;
  margin-left: 5px;
  font-weight: 800;
  font-family: "Roboto";
  font-size: 16px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right .ppj-point-item-right-bottom {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#content #content-dashboard #overview .ppj-emission-scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  padding: 0 30px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item {
  display: flex;
  padding: 18px;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left .scope {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #9AA0A0;
  line-height: 18px;
  margin: 0;
  margin-bottom: 8px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left .co2emission {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #323338;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left .ppj-emission-scope-item-left-value {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left .ppj-emission-scope-item-left-value .value {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 32px;
  color: #20A049;
  line-height: 38px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left .ppj-emission-scope-item-left-value .unit {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #9AA0A0;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right img {
  width: 57px;
  height: 57px;
  margin-top: -30px;
}
#content #content-dashboard #overview .ppj-kpi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 40px;
}
#content #content-dashboard #overview .ppj-kpi .ppj-kpi-item {
  padding: 10px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content #content-dashboard #overview .ppj-kpi .ppj-kpi-item h2 {
  font-size: 18px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 28px;
  color: #1D2129;
}
#content #content-dashboard #overview .ppj-emission-value {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item {
  padding: 10px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .top {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .top .title {
  font-family: "Inter";
  color: black;
  font-size: 17px;
  font-weight: 700;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .top .unit {
  font-family: "Inter";
  color: #9AA0A0;
  font-size: 17px;
  font-weight: 700;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details {
  margin-top: 20px;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-title img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  cursor: pointer;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-title span {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 15px;
  color: black;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-content table {
  margin-top: 18px;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-content table tr {
  border-bottom: 1px solid lightgray;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-content table tr .title,
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-content table tr .value,
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-content table tr .percent {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #323338;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item .details .details-content table tr .value {
  padding: 0 30px;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0 40px;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item {
  padding: 10px;
  width: 50%;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item .top {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item .top .title {
  font-family: "Inter";
  color: black;
  font-size: 17px;
  font-weight: 700;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item .top .unit {
  font-family: "Inter";
  color: #9AA0A0;
  font-size: 17px;
  font-weight: 700;
}
#content #content-dashboard #energy .dashboard-energy-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}
#content #content-dashboard #energy .dashboard-energy-top img {
  width: 70px;
  height: 50px;
  margin-right: 24px;
}
#content #content-dashboard #energy .dashboard-energy-top h1 {
  color: #20A049;
  font-family: "Anybody";
  font-weight: 900;
  font-size: 32px;
  line-height: 33px;
  margin: 0;
}
#content #content-dashboard #energy .dashboard-energy-content {
  padding: 20px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f3;
  padding: 7px 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-title .dashboard-energy-content-electricity-title-left {
  display: flex;
  align-items: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-title .dashboard-energy-content-electricity-title-left img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-title .dashboard-energy-content-electricity-title-left h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 24px;
  color: #1D2129;
  display: inline-block;
  margin: 0;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-title .dashboard-energy-content-electricity-title-right i {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 30px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-left {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-left .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-left .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-right {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-right table {
  width: 95%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-right table tr th {
  background-color: #20A049;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-right table tr td {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  border: 2px dashed #20A049;
  padding: 0 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-right .dashboard-energy-content-electricity-content-right-bottom .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-electricity .dashboard-energy-content-electricity-content .dashboard-energy-content-electricity-content-right .dashboard-energy-content-electricity-content-right-bottom .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel {
  margin-top: 50px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f3;
  padding: 7px 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-title .dashboard-energy-content-diesel-title-left {
  display: flex;
  align-items: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-title .dashboard-energy-content-diesel-title-left img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-title .dashboard-energy-content-diesel-title-left h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 24px;
  color: #1D2129;
  display: inline-block;
  margin: 0;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-title .dashboard-energy-content-diesel-title-right i {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 30px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-left {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-left .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-left .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-right {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-right table {
  width: 95%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-right table tr th {
  background-color: #20A049;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-right table tr td {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  border: 2px dashed #20A049;
  padding: 0 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-right .dashboard-energy-content-diesel-content-right-bottom .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-diesel .dashboard-energy-content-diesel-content .dashboard-energy-content-diesel-content-right .dashboard-energy-content-diesel-content-right-bottom .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol {
  margin-top: 50px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f3;
  padding: 7px 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-title .dashboard-energy-content-petrol-title-left {
  display: flex;
  align-items: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-title .dashboard-energy-content-petrol-title-left img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-title .dashboard-energy-content-petrol-title-left h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 24px;
  color: #1D2129;
  display: inline-block;
  margin: 0;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-title .dashboard-energy-content-petrol-title-right i {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 30px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-left {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-left .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-left .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-right {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-right table {
  width: 95%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-right table tr th {
  background-color: #20A049;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-right table tr td {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  border: 2px dashed #20A049;
  padding: 0 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-right .dashboard-energy-content-petrol-content-right-bottom .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-petrol .dashboard-energy-content-petrol-content .dashboard-energy-content-petrol-content-right .dashboard-energy-content-petrol-content-right-bottom .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas {
  margin-top: 50px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f3;
  padding: 7px 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-title .dashboard-energy-content-gas-title-left {
  display: flex;
  align-items: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-title .dashboard-energy-content-gas-title-left img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-title .dashboard-energy-content-gas-title-left h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 24px;
  color: #1D2129;
  display: inline-block;
  margin: 0;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-title .dashboard-energy-content-gas-title-right i {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 30px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-left {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-left .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-left .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-right {
  width: 50%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-right table {
  width: 95%;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-right table tr th {
  background-color: #20A049;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-right table tr td {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  border: 2px dashed #20A049;
  padding: 0 10px;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-right .dashboard-energy-content-gas-content-right-bottom .top {
  display: flex;
  justify-content: center;
}
#content #content-dashboard #energy .dashboard-energy-content .dashboard-energy-content-gas .dashboard-energy-content-gas-content .dashboard-energy-content-gas-content-right .dashboard-energy-content-gas-content-right-bottom .top .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  color: #1D2129;
}
#content #content-report-energy {
  padding: 0 20px;
}
#content #content-report-energy .content-report-energy-top {
  width: 100%;
  height: 50px;
  background-color: #20A049;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
#content #content-report-energy .content-report-energy-top p {
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}