img {
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  display: flex;
}

nav {
  width: 300px;
  background-color: rgb(46, 45, 45);
  display: block;
  min-height: 1000px;
}
nav .account {
  width: 100%;
  display: flex;
  padding: 10px;
  padding-left: 30px;
  align-items: center;
}
nav .account a {
  color: #b4b4b6;
  text-decoration: none;
  font-size: 18px;
}
nav hr {
  height: 3px;
  background-color: white;
  margin: 0;
}
nav .dashboard, nav .dashboardiot, nav .dashboard-report {
  padding: 10px;
  padding-left: 40px;
}
nav .dashboard i, nav .dashboardiot i, nav .dashboard-report i {
  font-size: 25px;
  color: #b4b4b6;
  margin-right: 25px;
}
nav .dashboard span, nav .dashboardiot span, nav .dashboard-report span {
  color: #b4b4b6;
  font-size: 18px;
}
nav .dashboard:hover, nav .dashboardiot:hover, nav .dashboard-report:hover {
  background-color: rgb(94, 94, 94);
  cursor: pointer;
}
nav .dashboard-report {
  padding: 10px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .dashboard-report-left-content .dashboard-report-left-content-energy, nav .dashboard-report-left-content .dashboard-report-left-content-gas {
  padding: 10px;
  color: #b4b4b6;
  padding-left: 60px;
  cursor: pointer;
}
nav .dashboard-report-left-content .dashboard-report-left-content-energy:hover, nav .dashboard-report-left-content .dashboard-report-left-content-gas:hover {
  background-color: rgb(94, 94, 94);
}
nav .dashboard-report-left-content .dashboard-report-left-content-energy i, nav .dashboard-report-left-content .dashboard-report-left-content-gas i {
  margin-right: 10px;
}

#content {
  width: calc(100% - 300px);
  background-color: white;
}
#content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#content .top i {
  font-size: 20px;
  margin-right: 25px;
  color: #727272;
}
#content .top .top-content-left a {
  color: #727272;
  text-decoration: none;
  margin-right: 25px;
}
#content .top .top-content-left i {
  cursor: pointer;
}
#content #content-dashboard {
  padding: 10px;
  border-top: 2px solid rgb(6, 6, 82);
  border-radius: 10px;
}
#content #content-dashboard #ppj .ppj-top {
  display: flex;
  align-items: center;
  border-bottom: 10px solid rgb(6, 6, 82);
}
#content #content-dashboard #ppj .ppj-top img {
  width: 80px;
  height: 80px;
  margin-right: 50px;
}
#content #content-dashboard #ppj .ppj-top h1 {
  color: rgb(6, 6, 82);
}
#content #content-dashboard #ppj .ppj-point {
  display: flex;
  align-items: center;
  padding: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#content #content-dashboard #ppj .ppj-point .ppj-point-item {
  flex: 1;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#content #content-dashboard #ppj .ppj-point .ppj-point-item .ppj-point-item-left img {
  width: 60px;
  height: 60px;
}
#content #content-dashboard #ppj .ppj-point .ppj-point-item .ppj-point-item-right h1 {
  color: rgb(17, 88, 240);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
#content #content-dashboard #ppj .ppj-point .ppj-point-item .ppj-point-item-right h2 {
  color: rgb(6, 6, 82);
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
#content #content-dashboard #ppj .ppj-point .ppj-point-item .ppj-point-item-right p {
  color: rgb(17, 88, 240);
  text-align: center;
}
#content #content-dashboard #ppj .ppj-emission-scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content #content-dashboard #ppj .ppj-emission-scope .ppj-emission-scope-item {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
#content #content-dashboard #ppj .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left {
  width: 15px;
  background-color: #20A049;
}
#content #content-dashboard #ppj .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right {
  background-color: #4fe27e;
  padding: 5px 80px;
}
#content #content-dashboard #ppj .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right h2 {
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 0;
  font-weight: 700;
}
#content #content-dashboard #ppj .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right h1 {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  color: rgb(6, 6, 82);
  margin-left: 60px;
  padding: 0;
  font-size: 28px;
}
#content #content-dashboard #ppj .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right span {
  color: rgb(17, 88, 240);
}
#content #content-dashboard #ppj .ppj-kpi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
#content #content-dashboard #ppj .ppj-kpi .ppj-kpi-item {
  padding: 10px;
  border: 2px solid rgb(6, 6, 82);
  width: 33%;
}
#content #content-dashboard #ppj .ppj-kpi .ppj-kpi-item h2 {
  font-size: 22px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
}
#content #content-dashboard #ppj .ppj-emission-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
#content #content-dashboard #ppj .ppj-emission-value .ppj-emission-value-item {
  padding: 10px;
  border: 2px solid rgb(6, 6, 82);
  width: 33%;
  height: 360px;
}
#content #content-dashboard #ppj .ppj-emission-value .ppj-emission-value-item h2 {
  font-size: 22px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
}
#content #content-dashboard #ppj .ppj-totalenergyconsumption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
#content #content-dashboard #ppj .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item {
  padding: 10px;
  border: 2px solid rgb(6, 6, 82);
  width: 50%;
}
#content #content-dashboard #ppj .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item h2 {
  font-size: 22px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
}