img {
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  display: flex;
}

nav {
  width: 300px;
  background-color: #1C2434;
  display: block;
  min-height: 1000px;
  padding: 23px 29px;
}
nav .logo img {
  width: 108px;
  height: 68px;
}
nav .logo p {
  font-family: "Roboto";
  color: #8A99AF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 24px;
}
nav .dashboard, nav .report {
  padding: 15px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .dashboard img, nav .report img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}
nav .dashboard i, nav .report i {
  font-size: 18px;
  color: #DEE4EE;
}
nav .dashboard span, nav .report span {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #DEE4EE;
}
nav .dashboard:hover, nav .report:hover {
  background-color: #333A48;
  cursor: pointer;
}
nav .dashboard-left-content .dashboard-left-content-ppj, nav .dashboard-left-content .dashboard-left-content-energy, nav .dashboard-left-content .dashboard-left-content-garbage {
  padding: 8px 40px;
  cursor: pointer;
}
nav .dashboard-left-content .dashboard-left-content-ppj span, nav .dashboard-left-content .dashboard-left-content-energy span, nav .dashboard-left-content .dashboard-left-content-garbage span {
  color: #8A99AF;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
nav .dashboard-left-content .dashboard-left-content-ppj:hover, nav .dashboard-left-content .dashboard-left-content-energy:hover, nav .dashboard-left-content .dashboard-left-content-garbage:hover {
  background-color: #333A48;
}
nav .report-left-content .report-left-content-energy, nav .report-left-content .report-left-content-gas {
  padding: 8px 40px;
  cursor: pointer;
}
nav .report-left-content .report-left-content-energy span, nav .report-left-content .report-left-content-gas span {
  color: #8A99AF;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
nav .report-left-content .report-left-content-energy:hover, nav .report-left-content .report-left-content-gas:hover {
  background-color: #333A48;
}

#content {
  width: calc(100% - 300px);
  background-color: white;
}
#content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}
#content .top .top-content-left img, #content .top .top-content-right img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 39px;
}
#content .top .top-content-left .search, #content .top .top-content-right .search {
  display: inline-block;
  background-color: #F5F4F6;
  padding: 8px 15px;
  width: 300px;
}
#content .top .top-content-left .search img, #content .top .top-content-right .search img {
  margin-right: 10px;
}
#content .top .top-content-left .search input, #content .top .top-content-right .search input {
  outline: none;
  border: none;
  border-left: 2px solid #20A049;
  padding-left: 5px;
  background-color: #F5F4F6;
}
#content #content-dashboard {
  padding: 10px;
  border-top: 2px solid rgb(6, 6, 82);
  border-radius: 10px;
}
#content #content-dashboard #ppj-tab {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}
#content #content-dashboard #overview-tab, #content #content-dashboard #energy-tab {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #9AA0A0;
}
#content #content-dashboard #overview .ppj-top {
  display: flex;
  align-items: center;
  border-bottom: 8px solid rgb(6, 6, 82);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}
#content #content-dashboard #overview .ppj-top img {
  width: 53px;
  height: 34px;
  margin-right: 24px;
}
#content #content-dashboard #overview .ppj-top h1 {
  color: rgb(6, 6, 82);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 32px;
  line-height: 33px;
}
#content #content-dashboard #overview .ppj-point {
  display: flex;
  align-items: center;
  padding: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 18px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item {
  flex: 1;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-right: 2px solid rgb(17, 88, 240);
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-left img {
  width: 60px;
  height: 60px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right h1 {
  color: rgb(17, 88, 240);
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  font-family: "Roboto";
  line-height: 37px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right h2 {
  color: rgb(6, 6, 82);
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  font-family: "Roboto";
  line-height: 18px;
}
#content #content-dashboard #overview .ppj-point .ppj-point-item .ppj-point-item-right p {
  color: rgb(17, 88, 240);
  text-align: center;
}
#content #content-dashboard #overview .ppj-emission-scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-left {
  width: 15px;
  background-color: #20A049;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right {
  background-color: #4fe27e;
  padding: 5px 120px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right h2 {
  color: black;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 18px;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right h1 {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  color: rgb(6, 6, 82);
  margin-left: 60px;
  padding: 0;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 800;
}
#content #content-dashboard #overview .ppj-emission-scope .ppj-emission-scope-item .ppj-emission-scope-item-right span {
  color: rgb(17, 88, 240);
}
#content #content-dashboard #overview .ppj-kpi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
#content #content-dashboard #overview .ppj-kpi .ppj-kpi-item {
  padding: 10px;
  border: 2px solid rgb(6, 6, 82);
  width: 33%;
}
#content #content-dashboard #overview .ppj-kpi .ppj-kpi-item h2 {
  font-size: 18px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
  font-family: "Roboto";
}
#content #content-dashboard #overview .ppj-emission-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item {
  padding: 10px;
  border: 2px solid rgb(6, 6, 82);
  width: 33%;
  height: 360px;
}
#content #content-dashboard #overview .ppj-emission-value .ppj-emission-value-item h2 {
  font-size: 18px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
  font-family: "Roboto";
}
#content #content-dashboard #overview .ppj-totalenergyconsumption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item {
  padding: 10px;
  border: 2px solid rgb(6, 6, 82);
  width: 50%;
}
#content #content-dashboard #overview .ppj-totalenergyconsumption .ppj-totalenergyconsumption-item h2 {
  font-size: 18px;
  color: rgb(6, 6, 82);
  text-align: center;
  font-weight: 700;
  font-family: "Roboto";
}